RewriteEngine On

RewriteRule ^dashboard/$ painel.php
RewriteRule ^cadastro/$ cadastro-usuario.php
RewriteRule ^logout/$ logout.php
RewriteRule ^entrar/$ autenticacao.php
RewriteRule ^grupos/novo/$ criar-grupo.php
RewriteRule ^grupos/editar/([0-9])/$ editar-grupo.php?id=$1
RewriteRule ^grupos/alterar/([0-9])/$ alterar-grupo.php?id=$1
RewriteRule ^grupos/excluir/([0-9])/$ excluir-grupos.php?id=$1
RewriteRule ^grupos/adicionar/$ adicionar-grupo.php
RewriteRule ^usuario/configuracoes/$ editar-usuario.php
RewriteRule ^usuario/desativar/$ desativar-usuario.php
RewriteRule ^membro/editar/([0-9])/$ editar-membro.php?cod_grupo=$1
RewriteRule ^membro/editado/([0-9])/$ membro-alterado.php?mem_identificador=$1
RewriteRule ^membro/excluir/$ excluir-membro.php
RewriteRule ^grupos/lista/$ listas.php
RewriteRule ^item/editar/([0-9])/([0-9])/$ editar-item.php?lista=$1&id=$1
RewriteRule ^item/editado/([0-9])/$ item-alterado.php?id=$1